<div class="listing-container">
  <h2 class="heading-text">Recent Members</h2>
  <p class="heading-subtext">Please find your perfect match</p>
  <div class="filter-section row">
    <div class="label-group">
      <img src="../../../assets/people-group.svg" class="group-image">
       <span>Recent members</span>
    </div>
  </div>
  <div class="listing-section row">
    <mat-card class="card-container">
      <mat-card-content>
        <div class="image-content">
          <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        </div>
        <div class="image-buttons">
          <button class="start-button" mat-mini-fab color="primary">
            <mat-icon>star_border</mat-icon>
          </button>
          <button class="fav-button" mat-mini-fab color="primary">
            <mat-icon>favorite</mat-icon>
          </button>
          <button class="thumbs-button" mat-mini-fab color="primary">
            <mat-icon>thumb_up</mat-icon>
          </button>
        </div>

       <h5>Anna Mirsolav</h5>
      </mat-card-content>
    </mat-card>
  </div>
</div>
