<div class="w-100">
  <div class="header-container row">
    <div class="left-section">
      <div class="row banner-container">
        <img src="../../../../assets/heart.svg" class="header-logo" />
        <p class="brand-name">We amor</p>
      </div>
    </div>
    <div class="right-section">
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Features</a>
        </li>
        <li>
          <a href="#">Pricing</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
        <li>
          <a href="#">How to use?</a>
        </li>
      </ul>
    </div>

  </div>
</div>
