.banner-section {
  background-image: url('../../../assets/background-image.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0rem 2rem;
  @media screen and (max-width: 767px){
    padding: 2rem 1rem;
  }
  .left-section {
    flex: 1;
    align-items: center;
    .text-container {

      .welcome-text {
        font-size: 1.75rem;
        font-weight: bold;
        line-height: 5.188rem;
      }
      .header-text {
        font-size: 3.875rem;
        line-height: 5.188rem;
        color: #8530D1;
        font-weight: bold;
        margin-bottom: 1.563rem;
        @media screen and (max-width: 767px){
          margin-top: 2rem;
          font-size: 2rem;
          line-height: normal;
        }
      }
      .sub-text {
        font-size: 1rem;
      }
    }
  }
  .right-section {
    img{
      width: 100%;
    }
  }
}
