<div class="banner-section row">
 <div class="left-section row">
  <div class="text-container">
    <p class="welcome-text">WELCOME...!</p>
    <h1 class="header-text">Let's Meeting New People Around You.!!</h1>
    <p class="sub-text">Interact with people with the same interest like you</p>
  </div>
</div>
<div class="right-section">
<img src="../../../assets/banner-img.svg"/>
</div>
</div>
<ng-container *ngIf="userId">
  <app-profile-listing [userId]="userId"></app-profile-listing>
</ng-container>


