<div class="breadcrumbs-wrapper">
  <ul>
    <li><a href="#"><img src="../../../assets/home.svg"></a> <span class="separatorSpeak "> <img src="../../../assets/chevron-right.svg"> </span> </li>
    <li><p>Members Details</p></li>
  </ul>
  </div>
  <section class="members-betails">

    <div class="members-wrap">
      <div class="row">
          <div class="content-info">

            <div class="details">
                <div class="basic-info">
                  <h2>Anna Miroslav</h2>
                  <span>@anna123</span>
                </div>
                <div class="about-info">
                    <strong>About</strong>
                    <p>A good listener. I love Having a good talk to know each other’s side.</p>
                </div>
                <div class="interest-info">
                  <ul>
                    <li> <span><img src="../../../assets/Interest-icon.svg"></span> Nature</li>
                    <li> <span><img src="../../../assets/travel-icon.svg"></span> Travel</li>
                    <li> <span><img src="../../../assets/writing-icon.svg"></span> Writing</li>
                    <li> <span><img src="../../../assets/movie-icon.svg"></span> Movie</li>
                    <li> <span><img src="../../../assets/gym-fitness-icon.svg"></span> Gym & Fitness</li>
                    <li> <span><img src="../../../assets/football-icon.svg"></span> Football</li>
                    <li> <span><img src="../../../assets/music-icon.svg"></span> Music</li>
                  </ul>
                </div>
                <div class="user-info">
                    <ul>
                      <li>
                        <img src="../../../assets/female-icon.svg">
                        <div class="box-info">
                          <span>Gender</span>
                          <strong>Female</strong>
                        </div>
                      </li>
                      <li>
                        <img src="../../../assets/age-icon.svg">
                        <div class="box-info">
                          <span>Age </span>
                          <strong>20 years<br> old</strong>
                        </div>
                      </li>
                      <li>
                        <img src="../../../assets/hight-icon.svg">
                        <div class="box-info">
                          <span>Hight </span>
                          <strong>163 cm</strong>
                        </div>
                      </li>
                      <li>
                        <img src="../../../assets/speak-icon.svg">
                        <div class="box-info">
                          <span>Speak </span>
                          <strong>English <br>German</strong>
                        </div>
                      </li>
                    </ul>
                </div>
            </div>

          </div>
          <div class="img-info">
            <div class="img">
                <img src="../../../assets/girl-img.png">
            </div>
            <div class="message-field">
              <label>Message</label>
              <mat-form-field>
                <textarea matInput placeholder="enter message"></textarea>
              </mat-form-field>

              <button mat-raised-button color="primary">Send</button>


            </div>
          </div>
      </div>
    </div>

  </section>
