/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Poppins:wght@400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

html {
  padding: 0;
  margin: 0;
  height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  // width: 100vw;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100% !important;
}

.row {
  flex-wrap: wrap;
  display: flex !important;
}

.message-field{
  .mat-mdc-text-field-wrapper {
    border: 1px solid #E4E4E4;
    background-color: transparent;
  }
}
